[2015-12-12 11:23] patzinak opened #1 "Write MaxiGauge server"

[2015-12-12 11:24] patzinak opened #2 "Write water flow/temperature monitor server for Leiden DR"

[2015-12-12 11:24] patzinak opened #3 "Write Leiden DR GUI"

[2015-12-12 11:26] patzinak opened #4 "Write/adopt switch server for the cold relays"

[2015-12-17 09:24] patzinak opened #5 "Write Tektronix CSA7404B Signal Analyzer server"

[2016-01-05 23:02] roboguy222 opened #6 "[New Grapher] Save as pickled figure for later editing"

[2016-01-05 23:05] roboguy222 opened #7 "[New Grapher] change bottom box to different graphing options (as in Ivan's stuff)"

[2016-01-05 23:56] amopremcak commented on #7
This will involve some collaboration with @patzinak. We should work on this once the DAC characterization is setup and issues impeding the measurements are complete.

[2016-01-07 20:12] amopremcak commented on #6
Would you like this in the form of an additional button? Also, how would you display the figure object @roboguy222. Since this is not a pyplot object, you need to provide a canvas for this figure to embed itself on. Perhaps the pickle button should map the figure object onto a corresponding pyplot object and then pickle it. Thoughts?

[2016-01-07 20:37] roboguy222 commented on #6
Yeah, I guess an additional button that brings up a save dialog/directory window or something would be fine.  It is probably ok to just pickle the fig.  We can then use pyplot or whatever to show that figure later (test this).  As long as we can go back and edit things, it doesn't really matter.

[2016-01-14 10:30] patzinak opened #8 "Upgrade serial_server.py to work with pyserial>=3.0.1"
The current Serial Server is not compatible with the newest pyserial package version.
Search for more details search "version 3.0" in http://pythonhosted.org/pyserial/pyserial_api.html

[2016-01-20 03:57] #5 closed, assigned to amopremcak

[2016-01-26 00:35] patzinak opened #9 "Merge Tek 11801C sampling scope server to this repo"
We should merge in the server from the old repo into this one. It should be tested beforehand though, as I tried to use it today and could not communicate with the scope over GPIB -- no devices are listed.

[2016-01-26 23:44] amopremcak commented on #9
I connected the instrument to gpib on mcdermott5125-2 and was able to interface with it just fine. I will leave this open for the next day or so but I think that it is working. It could definitely use some enhancements however...

[2016-01-27 00:02] gribeill commented on #9
Bug fixed, leaving this open for enhancement but core functionality exists, namely the ability to pull trace data from the scope. Lets test is out as stands and if new settings/methods are desired we can make it happen.
-AMO

[2016-01-27 00:32] patzinak commented on #9
I renamed the server file and cleaned it up a bit. Let's try to make the coding style consistent across the repo as much as we can. It helps a lot when you are trying to debug something later.

[2016-02-11 18:18] amopremcak commented on #7
Temporarily holding off on this until we have a server dedicated to data storage that isn't slow. I'm thinking we call it data_chest, data_safe, or binary_dump ... something ridiculous.

[2016-02-24 09:42] patzinak opened #10 "[ADR Controller] GGG temperature does not seem to work"
Nothing seems to happen when the GGG check-box is clicked. If this should be working these days, that this is likely caused by renaming of the files and servers. Specifically, I renamed server `ACBridgeWithMultiplexer` to `AC Bridge with Multiplexer` for consistency reasons. I also renamed most freshly copied (from the original repo) servers but file names should not matter at all. I modified all

[2016-02-24 09:51] patzinak opened #11 "[ADR Controller] AsyncServerWrapper errors"
Upon the GUI startup the log window shows a cryptic message: "Could not connect to device: 'AsyncServerWrapper' object has no attribute 'select_device'". The ADR3 servers also tells that this 'AsyncServerWrapper' can has no attribute 'add_channel'. If this is related to the fact the serial devices are not properly connected than please close the issue. If this behavior is unavoidable but is algori

[2016-02-24 10:08] patzinak commented on #11
Btw, you should now be able to start the GUI and all servers by running `startup.py` on mcd-adr3. We can create a couple-liner script and name it `adr3.py` if you like. I remember you had an opinion here — feel free to create as many scripts as you want that point to the startup.py.

[2016-02-24 10:29] patzinak opened #12 "[SIM 900 Server] KeyError: 'SIM900'"
From the error log:

[code]

I have not modified the server in any way and have been running this version without any problems on Leiden for a long time. This error does not always pop up and does not obviously interfere with the GUI performance, i.e. the temperature is read correctly whether or not this error appears. The servers were started with the LabRAD node.

[2016-02-24 10:34] patzinak opened #13 "Write/adopt a compressor servers for Leiden DR"

[2016-02-25 02:53] roboguy222 commented on #12
if this error occurs, the server now waits for 100ms and tries again.  I think it is being caused by a delay in the manager recognizing the server.

[2016-02-25 02:53] #12 closed, assigned to roboguy222

[2016-02-25 02:55] roboguy222 commented on #11
This was on purpose because the old labrad made error handling somewhat difficult.  In the new labrad this is easier, so I have done away with these messages :).

[2016-02-25 02:55] #11 closed, assigned to roboguy222

[2016-02-25 04:32] patzinak commented on #11
Great, thank you! Just unimportant advice on [closing GitHub issues](https://help.github.com/articles/closing-issues-via-commit-messages/).

[2016-02-26 03:15] roboguy222 commented on #10
We should double check that regulation works when the temperature is only being updated once every 10s.

[2016-02-26 03:17] roboguy222 opened #14 "[AC Bridge With Multiplexer] If only one channel is added, it should continuously update"
Right now it waits 3*(time constant) before taking data, but if there is only one channel, it should only do this once and then start taking data ever MIN_REFRESH_INTERVAL.  This is slightly difficult because if we change the channels rapidly, so there is only one channel still, it should have to re-wait the time constant as in the beginning.

[2016-02-26 03:19] roboguy222 opened #15 "[ADR Server] Turn on/off FAA/GGG channels in AC Bridge w/ MP as they are selected?"
Not sure if we want this or not.  Probably depends on how regulation works when temp is updated every 10s.

[2016-02-26 04:50] patzinak commented on #15
I am not sure whether I understand the issue but just want to clarify what reading out the GGG seems important only when the fridge is not working properly. If everything works well the GGG readings are not really important unless one day someone decide to do his/her measurements on the 500 mK finger... One way to resolve the issue is always to switch to a single channel readout mode when the frid

[2016-02-26 05:05] patzinak commented on #14
This is definitely an unquestionably good idea from the software standpoint but sampling on a time scale much shorter than the time constant does not really provide a lot of information. Think of an extremely fast temperature rise — the readings simply won't be updated as fast the rise happens. However, if you have only one channel you can probably significantly reduce the time constant value beca

[2016-02-27 22:41] #9 closed, assigned to amopremcak

[2016-03-03 10:57] patzinak commented on #15
1. The server switches between FAA and GGG too fast: the temperature readings are totally unreliable. Please increase the integration time (time delay between the channel switching) and reduce/increase the time constant if necessary.
2. Somehow FAA and GGG did not work at all at some point: no errors were thrown anywhere and the AC bridge was idle (wasn't switching). Restarting the SIM rack didn't

[2016-03-03 17:34] gribeill commented on #15
The ADR controller appears to work now? Restarting the SIM rack and the  FAA and GGG temperatures still take about 5 minutes to show up. This server is pretty vital and it's pretty frustrating to have to go through this every time someone updates the server. @roboguy222 , the next time you do something can you split all of the ADR control stuff into a development branch, and not merge back to the

[2016-03-03 18:44] roboguy222 commented on #15
It worked fine when I used it, so I thought it was stable.  The only real
way to tell is further use by you, but you can always revert back to the
last commit.  They do not show the temperature if it is above 20K or 45K,
depending on GGG or FAA.  That wasn't the reason it wasn't working, was it?

On Thu, Mar 3, 2016 at 11:34 AM, Guilhem Ribeill notifications@github.com
wrote:

[2016-03-04 02:15] patzinak opened #16 "[ADR GUI] Not user-friendly behavior upon reaching maximum magnet current"
1. One has to manually press "Stop Magging Up" button before magging down even though the current stays above 9A (reads 9.00581 A) for a half an hour.
2. When target temperature is chosen to be 0 K, the log box shows "Starting regulation to 0.1 K from 9.00581" but the regulation box shows 0 K. This is confusing.

[2016-03-04 02:49] patzinak opened #17 "[ADR] The source code is not readable"
This prevents debugging. Format it according to PEP8.

[2016-03-04 02:54] patzinak commented on #16
1. Regulation is completed when the current is still quite high (a good fraction of an ampere, TmK > 120 mK). Do not display the log message until the current reading is less than let's say 0.01 A or remove phrase "Mag up and try again."

[2016-03-04 06:42] patzinak commented on #15
@roboguy222 Check the log for FAA and GGG temperature for this warm-up to the room temperature. As far as I can remember, the FAA and GGG traces followed closely 3K trace and were not jumping from a couple K to 25/45K and back to a few K. Are there any other (filter?) settings that we have control over? It looks like 3 s - 10 s combination is not good enough.

[2016-03-04 17:44] roboguy222 opened #18 "[ACBridgeWithMultiPlexer] things get weird if accessed from different contexts"
Basically, multiple loops are going at the same time trying to take temperature.  If one context accesses some multiplexer and adds channels, and another context does the same, those channels should be added into the same array, not separate loops for each context.  This is common if we just restart the adrserver, so it is quite important.  A global dict needs to be created holding the channels fo

[2016-03-04 17:45] roboguy222 commented on #16
This has been changed from stopping regulation when the voltage is close to 0 to stopping when the current is close to 0.

[2016-03-04 17:45] #16 closed, assigned to roboguy222

[2016-03-04 20:12] patzinak commented on #18
Is this is a case when the device locks should be used? I think GPIB server may have them implemented but I've never used them.

[2016-03-04 22:48] roboguy222 commented on #18
I don't think we want to use device locks here, no.  Both contexts should
still be able to access the server I think.

On Fri, Mar 4, 2016 at 2:12 PM, patzinak notifications@github.com wrote:

[2016-03-08 09:13] patzinak opened #19 "[ADR Log] What is the *.temps format?"
I was not able to neither load a log file with MATLAB nor to open it with a text editor. This is not urgent at this moment.

[2016-03-08 09:27] patzinak opened #20 "[ADR Controller] No "mag up ended" message at 9.005 A or so."
The button hasn't change it name either. Just nice to have feature, not that important.

[2016-03-08 09:54] patzinak commented on #15
Looks like GGG heat sinking of the NbTi cables works pretty well, no rush with this issue for now.

[2016-03-11 18:58] roboguy222 commented on #19
The code to save this is as follows:

[code]

Basically, .temps files are binary files with 5 numbers (time, 4 temps) saved as doubles.  In python, these can be read back out using

[code]

You can update your matlab script for plotting past records, but it may not be worth it given I will be converting this to use @amopremcak 's new datavault as soon as he is finished.

[2016-03-11 18:58] #19 closed, assigned to roboguy222

[2016-03-11 20:02] amopremcak commented on #19
Should be done with this by Sunday of this week. Going to have Noah torture test it while we are at APS and if all goes as planned we should be ready to launch by next week.

[2016-03-12 04:50] patzinak commented on #19
Agreed with both. There is no real need to mess up with the temperature
logs until we are in a better position.

On Fri, Mar 11, 2016 at 2:02 PM, amopremcak notifications@github.com
wrote:

##

Ivan Pechenezhskiy
Postdoctoral Research Associate
Dept. of Physics, Univ. of Wisconsin–Madison
Thomas Chamberlin Hall 5316
1150 University Ave, Madison, WI 53706
Office: 1 (608) 890-0821
http://www.physics

[2016-03-22 21:51] roboguy222 commented on #20
I think I fixed this.  Has anyone tried this in the last two weeks and can verify?  @gribeill

[2016-03-24 05:27] roboguy222 commented on #20
Fix confirmed.

[2016-03-24 05:27] #20 closed, assigned to roboguy222

[2016-03-24 20:51] roboguy222 opened #21 "[ADR] Poor implementation of case when ADR server closes when client is open"
Menu, buttons, statuses need to reset or be blanked out or something when the server stops.

[2016-03-24 21:08] roboguy222 opened #22 "[ADR] Error when client starts halfway through server init"
`Unhandled error in message listener: MessageContext(source=1, ID=(0L,0L), target=102,) ($L, ('message',False)) ((function <lambda> at 0x0482345>, (), {})`

[2016-03-25 22:44] roboguy222 commented on #21
There seems to be a problem where names messages are received before the server that sends them is fully connected, and before `self.cxn` holds a reference to them in the ADR Client.  `self.cxn['ADR3']` gives a `KeyError`, for example.  Writing a while loop that checks if it is there seems to be either all yes or all no forever, and not change from no to yes as one would expect.  Waiting >0.25s be

[2016-03-25 22:44] #21 closed, assigned to roboguy222

[2016-03-25 22:45] roboguy222 commented on #22
This seems to be another issue where the server sends a "server"connected" named message  before actually being connected.  See post in #21.

[2016-03-25 22:46] roboguy222 commented on #22
Clicking ADR3 in the dropdown goes to a normal working state.

[2016-03-25 22:52] roboguy222 opened #23 "[ADR Server] Move 3s timeout to DMM instead?"
In the `initServer` method, we wait for 3s to let the old HP DMM on ADR2 (ADR1?) fully initialize.  Maybe this could be done in the server for that instrument, instead of ADRServer.py.  This would make startup of adrserver significantly faster.

[2016-03-25 22:54] roboguy222 opened #24 "[ADR Server] Use data chest/vault to store temps, etc"
(once the data chest is finished and usable)

[2016-03-25 23:58] amopremcak commented on #24
datetime datatype will be added by today, but possibly too late at night to be useful to you.

[2016-03-26 03:40] roboguy222 commented on #24
Challenge accepted.  Lmk when you finish.

On Fri, Mar 25, 2016 at 6:58 PM, amopremcak notifications@github.com
wrote:

[2016-03-26 05:58] amopremcak commented on #24
Failed challenge. One Wilen, Zero Opremcak.

[2016-04-07 06:47] amopremcak commented on #24
dataChest accepts utc_datetime strings now.

[2016-04-07 06:48] amopremcak commented on #1
Is this something you've finished @nmGit ?

[2016-04-07 06:49] amopremcak commented on #2
same for this @nmGit ?

[2016-04-07 06:49] amopremcak commented on #3
In progress

[2016-04-08 01:36] roboguy222 opened #25 "[ADR Server] Errors when PS is off"
[code]

[2016-04-08 23:19] roboguy222 opened #26 "[ADR Server] Should we address instrument turn on/off individually?"
(or just refresh all the instruments?)

[2016-04-08 23:25] roboguy222 opened #27 "[ADR Server] No longer receives device connect/disconnect messages"
I think the new GPIB Bus/Device Manager no longer sends "GPIB Device (Dis)Connected" messages, but rather sends a message 7 with True/False.  This needs to be updated in the ADR Server.

[2016-04-10 22:37] roboguy222 commented on #27
I think the device (dis)connected messages are probably getting through, but I wonder if each device server is not able to remove the device before the adr_server refreshes the devices.

[2016-04-12 19:58] roboguy222 opened #28 "[DataChest, Grapher] Imrpove Documentation"
Explain Time Stamps in file names - How do they work, how do we turn them on/off, how can we manually set what they are (for changing backlogged data).  side comment: i think the date is actually more important to be human readable than the time, but we can also sort the files by date created or w/e.

Special Parameters - What special parameters are available, like fit, or plot title, or w/e?

How

[2016-04-12 20:00] roboguy222 opened #29 "[DataChest, Grapher] View Parameters in Grapher when dataset selected"
If you are not going to work on this until the summer, at least have it print out the parameters in a terminal for now.

[2016-04-12 20:03] roboguy222 opened #30 "[DataChest, Grapher] Store time as a float representation of UTC"
You can use `matplotlib.dates.date2num()` and `matplotlib.dates.num2date()` to convert.  Should only be a two or three line change, hopefully.

[2016-04-12 20:05] roboguy222 opened #31 "[DataChest, Grapher] Add capability to return specific rows of a data set"
`IndexError` should be thrown if invalid

[2016-04-12 20:07] roboguy222 opened #32 "[DataChest, Grapher] implement getNumRows"

[2016-04-12 20:07] roboguy222 opened #33 "[DataChest, Grapher] implement getNumRows()"

[2016-04-12 20:09] roboguy222 opened #34 "[DataChest, Grapher] d.cd() gives ValueError on failure"
To be consistent with python, should probably be `IOError`

[2016-04-12 20:09] roboguy222 opened #35 "[DataChest, Grapher] Make d.cd() handle string path"

[2016-04-12 20:10] roboguy222 opened #36 "[DataChest, Grapher] Figure out env var or instantiation requirements for path"

[2016-04-12 20:11] roboguy222 opened #37 "[DataChest, Grapher] Write util object to handle...?"

[2016-04-14 00:51] amopremcak commented on #32
Done

[2016-04-14 00:51] #32 closed, assigned to amopremcak

[2016-04-14 00:52] amopremcak commented on #33
Repeat of existing enhancement

[2016-04-14 00:52] #33 closed, assigned to amopremcak

[2016-04-14 00:58] amopremcak commented on #34
Done.

[2016-04-14 00:58] #34 closed, assigned to amopremcak

[2016-04-14 01:02] amopremcak commented on #28
Explain Time Stamps in file names needs to be done for sure. Special Parameters should also be explained for compatibility with grapher. Initial cd needs to be implemented.

As for How to overright a parameter, this is in the newest pdf in the repo along with how to open a dataset with modification privileges.

[2016-04-14 12:49] amopremcak commented on #37
To handle conversions between utc DateISO strings and floats, dateStamps and utc timestamps etc cetera...

[2016-04-14 17:05] amopremcak commented on #31
This is finished as far as the coding part is concerned, document needs updating to show to use it.

[2016-04-14 17:05] #31 closed, assigned to amopremcak

[2016-04-14 17:05] amopremcak commented on #28
Add some notes on how to do slicing

[2016-04-15 16:06] amopremcak commented on #36
Partially complete, need to add ability for cd to handle absolute string paths for overwriting root with respect to environment variable, the allow users to choose an absolute root to where data is saved

[2016-04-15 21:22] roboguy222 opened #38 "[DataChest, Grapher] Implement time view in grapher"

[2016-04-15 21:26] roboguy222 opened #39 "[DataChest, Grapher] implement labrad unit handling"

[2016-04-19 02:41] amopremcak commented on #37
Should I close this at @roboguy222 ?

[2016-04-19 02:42] amopremcak commented on #30
Done

[2016-04-19 02:42] #30 closed, assigned to amopremcak

[2016-04-19 02:45] #37 closed, assigned to amopremcak

[2016-04-19 03:15] amopremcak commented on #36
Works on windows and mac os x, need to add instruction but this falls under documentation.

[2016-04-19 03:15] #36 closed, assigned to amopremcak

[2016-04-19 16:37] roboguy222 commented on #38
Here is some sample code for how to do pretty date axes:

[code]

[2016-04-19 17:44] roboguy222 opened #40 "[dateStamp] creating date stamp with string including time zone information fails"
Normally we get the string to pass to the datestamp with `utc.isoformat()` or whatever, but if this has timezone info associated it, a `+00:00` or whatever the offset is is added onto the end.  `dateStamp()` errors out in this case.

[2016-04-26 23:15] patzinak opened #41 "Write a server to control SRS 560 preamplifiers settings"

[2016-04-27 02:22] amopremcak commented on #41
You accidentally assigned this to Nathan, but it was meant for Noah @patzinak

[2016-04-27 03:12] patzinak commented on #41
Yeap, you are right.

[2016-05-17 20:17] roboguy222 commented on #27
Added messages to GPIB Device Manager instead of using those from GPIB Bus.

[2016-05-17 20:17] #27 closed, assigned to roboguy222

[2016-05-17 20:18] roboguy222 commented on #24
ADR implemented.  Need to transfer all the old files.  Also change where the log files are stored.

[2016-05-17 20:19] roboguy222 opened #42 "[ADR Server] times in client are UTC instead of local"

[2016-05-17 20:20] roboguy222 commented on #25
There is also a really long wait time right after turning it off where the computer seems confused.  What is going on here?

[2016-05-17 20:21] roboguy222 commented on #25
When the PS is turned back on, the adr server doesn't always recognize it as connected for some reason.

[2016-05-18 15:15] roboguy222 opened #43 "[ADR Client] Mag up/regulate buttons need to change when instrument statuses change"

[2016-05-18 15:16] roboguy222 commented on #25
The really long wait time in ^^ seems to be a visa error.  Even when the timeout is only 3s, it still takes ~30s to error out when you query a instrument for the first time when it is off.

[code]

[2016-05-23 17:56] roboguy222 opened #44 "[DataChest, Grapher] When data is (de)selected in the bottom-left, the colors for the data change in the plot."
Please make the colors stay the same.

[2016-06-03 23:29] #42 closed, assigned to roboguy222

[2016-07-01 17:23] roboguy222 commented on #43
Actually I am not sure this is needed.  It already gives an error and refuses to start of the necessary instruments are not connected.  It is easier for users to tell what is wrong if they are allowed to click mag up and then it tells them the power supply is off, as opposed to just not being able to click on the button.  @patzinak, agree?

[2016-07-01 17:23] #43 closed, assigned to roboguy222

[2016-07-01 17:39] roboguy222 commented on #24
Logs transferred for ADR3.  Given this program has not yet been seriously used for ADR1&2, I am just deleting those logs.

[2016-07-01 17:39] #24 closed, assigned to roboguy222

[2016-07-02 05:49] patzinak commented on #43
This is fine with me.

[2016-07-02 05:50] patzinak commented on #3
@nmGit, don't forget comment or close this issue.

[2016-07-02 05:52] patzinak commented on #1
@nmGit, please close this issue if you think the server works now.

[2016-07-02 06:18] #8 closed, assigned to nobody

[2016-07-05 15:56] #1 closed, assigned to nmGit

[2016-07-05 15:57] #13 closed, assigned to nmGit

[2016-07-06 17:08] #26 closed, assigned to roboguy222

[2016-07-06 17:14] roboguy222 commented on #25
This more or less works now.  There is still a delay sometimes, but maybe we just have to deal with it.  I had to add a 0.5s pause before connecting to the instrument so that the device server has a chance to add the instrument first, otherwise the instrument address cannot be found.

[2016-07-06 17:14] #25 closed, assigned to roboguy222

[2016-07-06 17:17] roboguy222 opened #45 "[gpib_server] read/write/query prints error instead of returning (raising) exception"
This means errors cannot be caught upstream, which is not good.  I briefly tried to fix this but letting them error out, but it seems like a more thorough investigation must be done.  The GPIB Device Manager needs to catch the errors, which seems easy enough, but I was also having trouble getting the ADR Server/Client to work properly.  Not sure what is going on, but I am guessing something with t

[2016-07-15 16:57] iamed18 opened #46 "[ADR2 / HeatSwitch] HeatSwitch OPENS but does not CLOSE"
Using the ADR Controller program, the heat switch will open on command, but when the close command is issued it does not close.

Using a python console directly, the result of running labrad.connection.heat_switch.close() has a similar null effect.

[2016-07-15 19:40] roboguy222 commented on #46
The ports have now been correctly assigned.

[2016-07-15 19:40] #46 closed, assigned to roboguy222

[2016-07-15 21:46] iamed18 opened #47 "[ADR Controller] Show dT/dt for Plotted Temperatures"
Implement a local-time (perhaps the last five data points would be used) temperature gradient report. It doesn't have to be a plot to be useful--rather just report the derivative in units of K/min or K/hr depending on how fast the temperature is changing (or just stick to one or the other).

Marked as enhancement request because I just think it would be nice to have, but is not required for operat

[2016-07-15 21:56] iamed18 commented on #47
@roboguy222 I don't know if this is interesting or not.

[2016-07-20 00:34] patzinak opened #48 "PT1000s y-axis is unlabeled"
The axis should be labeled as "Temperature (K)".

[2016-07-20 00:41] patzinak opened #49 "Time axis label and marks are unreadable"
"UTC Time in Seconds +1.46e9" is not a helpful time axis label. Please, label the time axis marks in a similar way as Chris, @roboguy222, did in his ADR GUI.

[2016-07-20 00:44] patzinak commented on #48
The same bug appears on the Flow Meter graph. Label "Flow Rate (gal/min)" is required.

[2016-07-20 00:47] patzinak commented on #48
The same bug is on the Vacuum plot. Either label "Pressure (bar)" or "Pressure (mbar)" is required. The later one is preferred but the first one is okay too.

[2016-07-20 00:48] patzinak commented on #48
Also, there might be or might not be a problem with the units on the Vacuum plot. Please, double check the values on the plot.

[2016-07-20 00:53] patzinak opened #50 "None of the servers should print in the standard output"
Please, suppress printing of the PT1000s resistances and temperatures in the server window.

[2016-07-20 00:56] patzinak opened #51 ""Data Chest" menu tab is not functional"
Please remove it or make it functional.

[2016-07-20 01:33] patzinak opened #52 "Source code lines are too long!"
Please shorten the coe lines to 72 characters, or at least to the length such that they are fully readable on GItHub. I can not fully read the comments on GitHub.

For example,  lines 225 and 226 in servers/GUI/mView/dataChestWrapper.py;
lines 212-216 in  servers/GUI/mView/MGrapher.py;

[2016-07-20 01:36] patzinak opened #53 "Remove all code that was used for debugging"
There are lots of code chunks that are commented out and likely were used for debugging. Remove them out (preferably) or write a comment regarding the potential need for this commented code.

[2016-07-20 01:40] patzinak commented on #53
For example, lines 70, 73, 103, 107-112, 114, 129-132, 262-269, 280-284 in servers/GUI/mView/NotifierGUI.py

[2016-07-20 02:29] nmGit commented on #3
Started, almost done

[2016-07-20 02:29] #3 closed, assigned to nobody

[2016-07-20 02:32] nmGit commented on #48
I will take a look at this, I probably forgot to tell mView what the y axis should be.

[2016-07-20 02:35] nmGit commented on #53
I can suppress output and remove a lot of the code for debugging, but I hesitate to remove it all because the code _is_ still under active development and will be for a long time. The debugging code is extremely useful for quickly fixing bugs.

[2016-07-20 03:52] patzinak commented on #53
`print("here")` is not a useful debugging feature... But sure, keep important logical blocks (or create a new branch when you adding a totally new feature). It is okay to have commented something like this: `print("Number of servers running: %d", number_of_servers)` because this statement indirectly tells you what is important at this point of the code execution, it is a some sort of a comment. Bu

[2016-07-20 13:04] nmGit commented on #53
All extra debugging code removed.

[2016-07-20 13:04] #53 closed, assigned to nmGit

[2016-07-20 13:25] nmGit commented on #52
Most source code lines were shortened.

[2016-07-20 13:25] #52 closed, assigned to nmGit

[2016-07-20 13:29] #51 closed, assigned to nmGit

[2016-07-20 13:30] nmGit commented on #50
Done

[2016-07-20 13:30] #50 closed, assigned to nmGit

[2016-07-20 13:36] nmGit commented on #48
Fixed, i think

[2016-07-20 13:36] #48 closed, assigned to nmGit

[2016-07-20 13:36] nmGit commented on #49
I think this also got fixed when I fixed 48

[2016-07-20 13:36] #49 closed, assigned to nmGit

[2016-07-20 13:39] nmGit opened #54 "[mView] A point at 0s will ocasionally be logged"
Either the datalogger will log or the grapher will display a data point at 0s UTC, which is very wrong and messes up the data

[2016-07-20 14:32] roboguy222 commented on #54
This is something @amopremcak has seen a lot.  Is it when it is writing to AFS?  We think it may be a problem with that.

[2016-07-20 14:36] nmGit commented on #54
Afs as well as locally

[2016-07-22 00:25] #2 closed, assigned to nobody

[2016-07-22 00:36] nmGit opened #55 "Separate dataChest logs by week or check the size of the log files"

[2016-07-22 00:40] nmGit commented on #54
Note: If this is an AFS issue, then keep the logs locally, otherwise, transfer the Leiden log files to AFS at some point (when we get it fixed).

[2016-07-22 00:41] nmGit commented on #55
Also allow for any sample rate.

[2016-07-22 00:46] nmGit opened #56 "Create readme.md in LeidenVitalsGui"
This files should tell what one has to run in order to start the GUI, i.e.
1. Disconnect USB cable.
2. Start LabVIEW program (DR Temp Control.vi). This logs the temperatures to AFS and is being used by the GUI to display the DR temperatures.
3. Run startup.py.

[2016-07-22 00:47] nmGit opened #57 "Add the documentation for Goldstein's Ohm Meter"

[2016-07-22 01:01] nmGit opened #58 "Open only one instance of the GUI"

[2016-07-22 16:13] #58 closed, assigned to nmGit

[2016-07-23 00:02] nmGit commented on #54
Seems to sometimes happen when mView crashes.

Note that it permanently damages the dataset (not just adding a point at 0,0). The dataset will go from four vaiables to over 5000.

[2016-07-23 00:40] amopremcak commented on #54
What is mView?

This all sounds rather fishy. When you say goes from four variables to over 4000 what do you mean? Are you saying that

[code]

goes from printing 4 to 5000?

From what you were saying a few days ago, it was that the data being returned by `getData()` was being corrupted, growing in length from the expected length (total number of writes to the dataset at that point in time) to som

[2016-07-23 00:46] amopremcak commented on #55
Why separate the size of the logs by week @patzinak? The sizes of these files should be rather small ~ few million 64 bit floats.

[2016-07-23 01:11] nmGit commented on #54
mView is the gui-making tool that i've been working on (someone hasnt read the readme haha).

What I'm saying is that yes, independent variables + dependent variables will go from 4 (for example) to >5000.

More specifically

[code]

goes from four to >5000

EDIT: I will try `getNumRows ()`

[2016-07-23 02:49] patzinak commented on #55
Because we saw every single variable data log file getting to ~12 Mbytes in
size after barely running the GUI for two (accumulated) days. This is
conditional on my understanding of the things.

On Jul 22, 2016 19:46, "amopremcak" notifications@github.com wrote:

Why separate the size of the logs by week @patzinak
https://github.com/patzinak? The sizes of these files should be rather
small ~ few mi

[2016-07-23 04:23] amopremcak commented on #54
Haha, guilty as charged. Just to be certain, you should check that indeed `len(indepVarsList) + len(depVarsList)` is equal to some number greater than the original quantity as `len (dataset.getData () [-1])` being larger is not equivalent to the above condition from the programs standpoint. Also, you should print/store what the values are of `indepVarsList + depVarsList` (not the total lengths but

[2016-07-23 04:33] amopremcak commented on #55
How many variables are in the files Ivan is talking about @nmGit? I should verify that this is true as that seems rather large unless the files have say, 7-8 variables total, all of type float64 (assuming a sampling rate of 1 Sample/sec, (60_60_24_2)_8*8/1e6 ~ 11 MB). Regardless, breaking them up still doesn't save space as the number of bytes is going to be distributed across more files. I'd like

[2016-07-23 04:36] amopremcak commented on #54
Also, you should look at the shape of `dataset.getData ()` in addition to `dataset.getData ()[-1]`. Maybe even try to save the array using numpy.savez or something like that when this happens again.

[2016-07-23 06:27] amopremcak commented on #55
For a single variable log file I ran script to mimic this

[code]

I get a file size of 2.9 MB. With no overhead, the file should be 2.7648 MB.

[2016-07-24 03:45] nmGit commented on #55
hmm, that's odd. The dataset we were looking at is 4 variables and in two days it grew to 13MB so I'm not sure what's going on. I'm 95% sure i'm not storing redundant data.

EDIT:
DatachestWrapper.py is what I'm using to store data if you're curious

[2016-07-25 20:10] #55 closed, assigned to nmGit

[2016-07-25 20:20] #56 closed, assigned to nmGit

[2016-07-25 22:26] patzinak opened #59 "[ADR] Log times should be local"

[2016-07-26 18:21] #57 closed, assigned to nmGit

[2016-07-27 10:24] patzinak commented on #55
I restarted GUI and saw that new data sets had been created in folder `.../2016/7/6`. This seems rather strange because today is not the first day of a new week and it is neither the 6th week of the month. @nmGit

[2016-08-05 04:44] roboguy222 opened #60 "[Grapher] Implement FFT as a plot type"

[2016-08-05 04:45] roboguy222 opened #61 "[Grapher] Be able to add and change parameters/notes for each dataset"

[2016-08-05 04:50] roboguy222 opened #62 "[Grapher] Add ability for plugins"
The way we decided to do this was the following.  Basically the grapher follows the following format:

[code]

This `doStuffTo(data)` function can be user defined in a file.  These plugins can be selected on the left side or something.  As an example, a user might take an averaged vertical cut of a 2D plot and subtract it from everything else, such that a small signal can be detected amongst backg

[2016-08-05 04:56] roboguy222 opened #63 "[Grapher] Add fitting options"
Previously we talked about adding to a dataset a whole set with the fit line, but I have a better idea.  Basically, almost all the standard fits (Gaussian, Lorentzian, etc.) can be characterized by a few basic values (mean, std for Gaussian, etc).  Instead of saving a whole set of data, we can just store these as parameters of the dataset in the hdf5 file, under names that make sense (maybe fit_ga

[2016-08-05 04:59] roboguy222 commented on #4
I think the Martinis group has a server that already works for this, no?

[2016-08-05 16:10] nmGit opened #64 "[mView/Device] Labrad Contexts with Threading"
When there are multiple devices connected to the same computer, labrad contexts can be used to switch between devices. However, this doesn't seem to be the case when using different contexts from different threads. Labrad appears to confuse the devices when they are being controlled by multiple threads.

The setup:
-Multiple MKSPDR2000 devices
-ONE labrad connection
-THREE different contexts, one

[2016-08-05 18:24] roboguy222 commented on #64
I can't get this to work.  Are you coming in today?

[2016-08-05 19:12] roboguy222 commented on #64
I'm not sure what the problem is.  I am getting the following to work perfectly:

[code]

Test Server:

[code]

[2016-08-08 04:50] roboguy222 commented on #64
Just to document here as well, the issue is blocking.  See https://github.com/labrad/pylabrad/issues/279#issuecomment-238101214

[2016-08-08 04:50] #64 closed, assigned to roboguy222, nmGit, amopremcak

[2016-08-09 17:33] roboguy222 commented on #59
I can make the log times local in the window at the top.  I also write the log files to disc in a text file.  Is it fine to keep these in UTC?

[2016-08-09 17:41] #23 closed, assigned to roboguy222

[2016-08-09 21:00] patzinak commented on #59
I think it would be better to convert them to local times as well.

[2016-08-12 00:34] roboguy222 opened #65 "[ADR Client] Everything gets reloaded when a server changes"

[2016-08-12 06:42] roboguy222 commented on #15
Temperature seems very stable if we use a 0.3s time constant but wait 15X Tc.

[2016-08-12 06:43] roboguy222 commented on #15
With the above settings, the temperature updates fast enough that we should be able to just leave the GGG on at all times.  I am not going to implement turning it on/off.

[2016-08-12 06:43] #15 closed, assigned to roboguy222

[2016-08-12 06:44] #10 closed, assigned to roboguy222

[2016-08-12 06:45] #18 closed, assigned to roboguy222, nmGit

[2016-08-12 06:45] #14 closed, assigned to roboguy222, nmGit

[2016-08-12 18:50] #59 closed, assigned to roboguy222

[2016-08-12 21:27] #65 closed, assigned to roboguy222

[2016-08-13 23:01] patzinak commented on #22
@roboguy222 Is this bug still relevant?

[2016-08-13 23:16] patzinak opened #66 "[DC Rack GUI] Drop-down menu and stability issue"
When no monitor channels are selected in the top part of the GUI (all monitor channels are off, no cards are selected, and no card channels are selected) upon the GUI startup, (1) click Abus0, select a FastBias card, select channel A; (2) then click "Upload from Registry"; (3) and then again, click Abus0, select a FastBias card, and try to select a channel on that card. An empty drop-down menu wil

[2016-08-15 04:28] roboguy222 commented on #22
Sure, this error often appears once or twice.  Not sure how to go about fixing it though.

[2016-08-16 16:52] nmGit opened #67 "[XGS600] Add setting to turn on ion guage"
Add a setting to turn on the ion guage

[2016-08-19 08:35] patzinak opened #68 "[ADR GUI] MagUp button did not start mag-up after the magnet was cycled"
After closing the heat switch on ADR3 and seeing the FAA temperature rising from about 0.5 K to about 3.3 K, I attempted a new mag-up but neither the current nor back-EMF was showing any change for a minute or so. The MagUp button became disabled as expected and the corresponding message was printed in the log window but no actual change in current/voltage/back-EMF was visible. "Stopping" the mag-

[2016-08-19 16:50] roboguy222 commented on #68
I have never seen this before, and without being able to query the servers, this is impossible to diagnose.  Did you notice anything printed to the node window?  Were all the instruments green at the top of the GUI (except the heat switch)?

[2016-08-19 17:15] amopremcak commented on #66
Thanks for reporting this flaw in my bug-less code Ivan :)

[2016-08-19 17:51] amopremcak commented on #54
@nmGit, you mentioned that Nick was able to reproduce this issue. I would like you to get to the bottom of this if possible. I was able to reproduce this behavior when writing to AFS, but I have yet to do so locally. It seems to me that this issue and your GUI are somehow intimately related. I wrote a script for you in order to produce this error (see /dataChest/dataCorruptionTest.py), the only do

[2016-08-19 18:12] nmGit commented on #54
Ok, I will take a look. NicK and I replicared the issue when we were still logging to AFS. I have not seen the error since.

[2016-08-19 19:27] amopremcak commented on #54
Hold off on this for a couple of hours. I'm going to edit the script to check all of the files after it finishes the writing portion. I'll ping you @nmGit when it's ready.

[2016-08-19 20:27] patzinak commented on #68
Yes, all instruments were marked green and nothing weird was noticeable. It kind of felt like everything works well and there is just a little bug in an "if" statement that should allow the start of the actual process but it doesn't. Let's keep an eye on this.

[2016-08-19 20:44] amopremcak commented on #54
The deed is done @nmGit. Run this script each day, but run it in a dedicated terminal so that you can look at any/all things that the script outputs once it is finished (don't just double click the file). It checks that each file contains the correct number of rows and that each row of each files has the anticipated value as a function of index. As of now it will take ~13-14 hours to complete. Mod

[2016-08-19 20:57] amopremcak commented on #54
Also @roboguy222, can we get your two files out of the \servers\dataChest folder? I wanna clean up this folder to keep it as "library like" as possible.

[2016-08-19 21:44] amopremcak commented on #62
I think we need to define what exactly it is we want plugins to do. As of now, the grapher offers a "File Browser", an "Available Plot Types" options list with a few different ways for plotting 1D and 2D datasets, and a space for the actual graph. These "Available Plot Types" allow users to display datasets in different ways than the default plot type. These were cooked up by @patzinak and myself

[2016-08-22 17:33] amopremcak commented on #54
@nmGit Whats going on with this? I would like you to run this script once a day for the next week to see if this occurs.

[2016-08-22 17:39] nmGit commented on #54
I havent gotten a chance yet to sit down and run it, I will do that asap.

[2016-08-22 18:13] roboguy222 commented on #68
Sounds like the computer in general was acting pretty weird at this time too and needed to be restarteed.  I am going to close this issue until it happens again and we have more info.

[2016-08-22 18:13] #68 closed, assigned to roboguy222

[2016-08-22 18:20] roboguy222 commented on #62
I think incorporating the FFT and histograms into the plugins may make a lot of sense, yeah.

If, in the best case scenario, we have the ability to add multiple plugins and drag their order around, the fit still works pretty well as a plugin I think.  Including them as a plugin strikes me as the most versatile way to do this.

@patzinak said it was actually pretty hard to write the dataChest into

[2016-08-23 05:00] patzinak commented on #62
Saving at the end of the measurement should be doable. I can try to implement it, so you guys can slowly bring-up the viewing/post-processing environment, maybe eventually a replacement to my MATLAB scripts. I won't implement the incremental saving, this would be too much work for me at this moment.

[2016-08-23 22:14] patzinak opened #69 "[dataChest] mkdir unexpected behavior"
Not sure this is a bug or a feature :) If you run

[code]

then the folder 'c' is created inside folder 'b', not inside folder 'a', as I was intuitively expected.

@amopremcak close the issue or relabel it as a bug.

[2016-08-25 00:03] amopremcak commented on #69
This was a bug. It is now fixed.

[2016-08-25 00:03] #69 closed, assigned to amopremcak

[2016-08-25 04:05] patzinak opened #70 "[Grapher] Directory does not exist when a file is selected"
There is no issue in changing the directory in the grapher directory tree but when a file is selected an error pops up in the command prompt window saying that the directory does not exist.

Not sure whether I've saved the data in the right format but the error type seems to be confusing. The directory and the file exist. The grapher plotting area disappears when the error pops up. It seems that u

[2016-08-25 05:24] #17 closed, assigned to roboguy222

[2016-08-25 07:41] patzinak commented on #17
Saw the commit, thank you for doing this! I really appreciate it!

[2016-08-26 16:05] amopremcak commented on #70
This issue was related to the direction of a slash in the DATA_CHEST_ROOT environment variable. This is noted in the dataChest documentation, and is therefore not a bug, but the code should be changed to accept back slashes for this path.

[2016-08-26 16:07] amopremcak commented on #66
Note to self: this issue only occurs when upload from registry returns empty bus/dbus info.

[2016-08-26 16:34] amopremcak commented on #28
Done ==> How to overright a parameter: 'addParameter(overwrite=True)'
Done ==> How to open a data chest for editing: d.openDataset(modify=True)
Done ==> Environment variables and navigation directories
Done ==> Slicing notes

Todo:

1) Explain Time Stamps in file names - How do they work, how do we turn them on/off, how can we manually set what they are (for changing backlogged data).

As of now,

[2016-08-26 16:38] amopremcak commented on #35
As in `d.cd("nextFolder\nextNextFolder\nextNextNextFolder")` so that a folder with path pwd + "nextFolder\nextNextFolder\nextNextNextFolder" is created? @roboguy222

[2016-08-26 16:41] amopremcak commented on #60
This will be placed in the plug in / analysis portion of GUI as opposed to the plot types portion.

[2016-08-26 17:41] nmGit commented on #54
@amopremcak I just finished running the script for both local and remote (afs) data storage. The local test ran without error, but the afs test failed.

[2016-08-26 17:42] amopremcak commented on #54
Can you keep running this for the next week or so. I am interested to see whether or not we can make this happen locally.

[2016-08-26 18:18] amopremcak commented on #39
The idea here will be to make

[code]

into a more simple call like

[code]

with the units and type suppressed or even just

[code]

where type, units, and shape are suppressed. In the first call to `d.addData(someData)` after dataset creation, `someData` will provide the rest of the info for each variable. There are a few reasons why this wasn't done initially, but the main reason was to keep th

[2016-08-26 18:23] roboguy222 commented on #28
1) I don't really care if we can turn the datestamps on or off.
2)
3) Yes

[2016-08-26 19:00] roboguy222 commented on #35
Same as using an array, just string for instead

"nextFolder\nextNextFolder\nextNextNextFolder" = ["nextFolder","nextNextFolder","nextNextNextFolder"]

[2016-08-26 19:47] amopremcak commented on #35
Word

[2016-08-26 20:38] nmGit commented on #54
Ya, for sure. mView It has been running and logging locally in the DR lab and in the Leiden room since I left. I havent seen a problem with either of them before that though (I regularly leave them running for several days on end)

[2016-08-26 20:49] amopremcak commented on #54
I would rather have the script running because it tests 100 files as opposed to just a handful.

[2016-08-29 15:23] bgchristensen opened #71 "file directory and file naming"
We should think a least a little bit how we want the directory system to look.  For example, I've been frequently taking overnight measurements.  It's rather inconvenient to have the files saved in folders linked to the date in this case, since I then have to rename files and move them into the same folder to keep all of the data grouped.  However, during normal bringup stuff, it's very nice havin

[2016-08-29 15:27] bgchristensen opened #72 "Matlab files are being saved twice as large as necessary"
If I load a saved matlab data file, and then resave it, the size is reduced by approximately 0.5.  How are we currently saving the matlab files?  There may be a more efficient way of saving?  It also just might be an issue with python itself (probably since we're using 32-bit)

Basically, I load a matlab data file of size 127 kB.  I then resave the file and it will be of size 68 kB.

[2016-08-29 19:21] amopremcak commented on #71
I agree @bgchristensen. The way that dates are handled right now confuses me. The folder structure is:
Data/ProjectName/System+StartDate/User/SampleDescription/TimeOfScan/ScanDescription/datasets

It seems that Brad is in favor of eliminating the TimeOfScan folder in this path and just using the StartDate to determine what datasets end up where. I don't understand why we group System and StartDate

[2016-08-30 00:16] patzinak commented on #71
First of all, the current system is slightly different. The measurement code forces only the /User/Sample/Day/Experiment/datasets part of the path. (We use Date, not TimeOfScan, and ExperimentName, not ScanDecription — different scans could be saved under the same name.) Everything above the User level is totally arbitrary. I use Data/Project/System - CooldownDate - CooldownDescription/.

I do not

[2016-08-30 00:37] patzinak commented on #71
System - CooldownDate - CooldownDescription is one string because it works very well for me. It is not enforced by the code.  The reason I'd like to keep CooldownDate and CooldownDescription is because it extremely convenient when you are looking through datasets generated within one a half year on the same project. You kind of have some general ideas of the date when the data was taken and some g

[2016-08-30 00:59] patzinak commented on #72
I've run one test and I saw a datafile getting down in size from 150 kB to 130 kB. Not as significant change.

We use `scipy.io.savemat()` to save the data. It appears that this method has a flag `do_compression` that is set to `False` by default. I'm changing this in the next commit.

[2016-08-30 01:01] #72 closed, assigned to patzinak

[2016-08-30 01:14] patzinak opened #73 "[dataChest] dataChest does not like '-' in the paths"
dataChest gives `ValueError: Invalid direcotry name provided.` when you try to create a folder that has a hyphen in it. The error appears in `mkdir`. This seems like an unnecessary strict behavior.

[2016-08-30 01:32] roboguy222 commented on #71
It seems like I am alone in this, but I would rather have the system as a parameter of the data file than part of the path.  It is rare that we cool a sample and measure it in multiple systems in one day, so it is just an extra click.  Otherwise this path structure sounds good to me.

[2016-08-30 05:40] patzinak commented on #71
@roboguy222 you have a good point. That is why I currently has the system information as a part of System - CooldownDate - CooldownDescription. The system information was helpful when we were measuring JPMs from the same wafer in ADR3 and in Leiden simultaneously. I'm fine with eliminating the system information. Just want to provide the context why the things are the way they are now.

[2016-08-30 06:01] patzinak opened #74 "Environment variables, LabRAD registry and Python package paths"
I see we our repos are getting more messy and messy. It would be good to established some specific practices.

dataChest uses the environment variable to tell Python about its location. My measurement scripts do this dynamically in an albeit very ugly way. But this does not require the user to configure anything.

[code]

We also have untilites.py duplicated in two different repository locations.

[2016-08-30 15:26] roboguy222 commented on #74
About the documentation: The reason Alex has it as a pdf here is because he has equations in the documentation, and apparently github wiki's do not support them.  I doubt you can do them in .md files either.

[2016-08-30 15:38] amopremcak commented on #71
I think system information is important in the file path. In some sense, the system name determines the type of experiments that you would be doing on a particular device for a particular experiment. When you move from ADR to the Leiden, you aren't going to want to sort through a shit load of dates to determine your first leiden cooldown, @bgchristensen how do you feel about system name in the pat

[2016-08-30 15:42] amopremcak commented on #71
I like the folder structure suggested by @patzinak by the way. One thing you may want to add however is the User.

[2016-08-30 15:46] amopremcak commented on #73
I can remove this constraint.

[2016-08-30 16:02] amopremcak commented on #74
What utilites.py file is duplicated in two locations? Also, what other libraries exist in the servers repository that we would want to import from other locations on a lab machine?

[2016-08-30 17:01] bgchristensen commented on #71
I like Ivan's suggestion, but having System is strange having before the Sample.  The only reason I would care which system I cooled something down with, is because it is the same sample.  If it were different samples, I wouldn't care about data from a dip vs adr vs dr.  So I suggest if we keep system, then put it after sample.

Although, I think it is pretty clear from Cooldown Description what s

[2016-08-30 17:07] roboguy222 commented on #71
Haha I was going to say the opposite.  I would say if we have system, we should put it before the date.

[2016-08-30 17:39] patzinak commented on #74
Yes, utilitis.py is in both folders, gpibdevices and serial devices. I'm not aware about any other libraries at the moment though @nmGit has developed a GUI suit but I'm not sure how the importing works. I see `import MGui` in one of his files but I don't see in his manual anything about adding the Python path. If@nmGit if you added a path to the environment variable could you please add a comment

[2016-09-01 16:57] nmGit opened #75 "[mView] Use kwargs"
kwargs can and should be used for many constructor arguments.

[2016-09-01 17:32] nmGit commented on #74
@patzinak I added a couple lines asking users to refer to the datachest documentation for datachest setup as I did not want to duplicate information. I also just added the steps to setup the python path

[2016-09-02 18:14] amopremcak commented on #73
This is fixed in my latest commit.

[2016-09-02 18:14] #73 closed, assigned to amopremcak

[2016-09-05 20:41] patzinak opened #76 "Temperature conversion from deg. F to deg. C is not done properly"
See the most recent log (the one that includes 09/06/2016) for the External Temperature Monitor.

[2016-09-05 21:04] patzinak opened #77 "Insert word-separating whitespaces in the plot legends"

[2016-09-10 01:40] nmGit opened #78 "[datachest/grapher] Will not open file"
Tried to open file:

Z:\mcdermott-group\Data\Leiden\2016\9\0\axl1606acm_Temperature.hdf5

on leiden laptop and matplotlib crashed.

[2016-09-10 01:41] #54 closed, assigned to nmGit

[2016-09-10 01:43] nmGit opened #79 "[mview] graphs are sometimes short"
When opening a graph, the graph is sometimes compressed

[2016-09-10 01:55] nmGit opened #80 "[mview] help tab in notifier"
add help tab to notifier, how to set up telecomm server.

[2016-09-11 06:10] patzinak opened #81 "SIM921 AC Bridge server sometimes fricks out when the GPIB bus is being refreshed"
Below is the LabRAD node log:

[code]

[2016-09-11 06:18] patzinak commented on #45
There are multiple issues with the GPIB server and the GPIB Manager in general. There was some activity related to the entire design and to `read_raw`/`write_raw` settings on the UCSB LabRAD and server repos.

Also, it is not clear for me what is the proper way of handling errors in the servers. Should any errors be exposed to the user of a server or all errors should be handled gracefully inside

[2016-09-11 06:19] patzinak commented on #4
@roboguy222, @nmGit, @amopremcak what is the status here?

[2016-09-11 06:37] patzinak opened #82 "Lots of junk and clutter in servers\GUI\mView"
There should not be that many code lines that are simply commented out without any comments why there are still there. Please delete the lines that are not related to any open bugs or enhancements. `MGrapher` suffers the most but some other files as well.

There should not be more than two empty lines and there should be always one empty line between the methods.

Does `serialDevice.py` server any

[2016-09-11 07:57] patzinak commented on #78
I was not able to plot the ADR3 log files. Fixed one issue but run into another one. Specifically, I could not unselect the 60K and 3K curves to effectively rescale the plot and inspect FAA and GGG ones. Also, the "Time()" x-axis label is not that descriptive.

[2016-09-11 07:59] patzinak opened #83 "FAA and GGG temperature are not plotted/read correctly"
The ADR3 GUI shows that the FAA tempertaure is 736 mK, the GGG temperature is 587 mK, while SIM921 displays 92 mK.

[2016-09-11 08:23] patzinak commented on #83
The problem was solved when everything was restarted. Pressing `Refresh Devices` did not help (the device statuses were all green except for the switch). This might be related to [this issue](https://github.com/McDermott-Group/servers/issues/81).

[2016-09-12 05:17] roboguy222 commented on #81
This seems like an error with the GPIB Device Manager to me.

[2016-09-12 05:22] roboguy222 commented on #45
I'm not sure what the best way to handle them should be.  I think usually exceptions are raised, but maybe we don't want to do that for some reason.

[2016-09-12 05:23] roboguy222 commented on #4
The box I was using to do this broke and Ted won't let me plug into the other, so no progress has been made.

[2016-09-12 08:16] patzinak commented on #45
No, by the assignment I didn't mean that you have to rewrite the GPIB server and the manager. I just thought you are the most knowledgeable person on this and related issues, You definitely know more than me. It would be great if you just keep an eye on the developments/find the opportunity to reassign this to someone else in the future/label it "won't fix"/"bug"/"question" and so on and so for. I

[2016-09-12 08:31] patzinak commented on #81
Could be... Actually, let me try to explain why I keep running into some errors. Here is a very typical scenario.
1. Let's assume that ADR3 GUI is up and running normally, no issues, everything looks good and feels responsive. And let's say I'm magging down.
2. Now, assume I have to use a network analyzer that hasn't been yet plugged to the GPIB bus. So, I connect the network analyzer to the GPIB

[2016-09-21 02:22] patzinak opened #84 "Unify the GPIB network analyzer servers using device wrappers"
See `rf_generators.py` for examples.

[2016-09-21 04:28] iamed18 commented on #84
This sounds great.

[2016-09-26 21:41] roboguy222 opened #86 "[ADR Server] Not context safe"
If we call methods like `stopCompressor,` we don't use the same context for all requests from that adr device.

[2016-10-02 00:48] iamed18 opened #87 "[mView] add ability to turn off non-desired data traces in plots"
When showing the plot for data acquired from a server, it is at times desirable to only plot specific traces reported back from a given server: not all reported values may be on the same order of magnitude and thus it is impossible to discern minute changes in the smaller magnitude signal. Turning the larger magnitude signal off and then allowing a rescale to smaller values will make this discerni

[2016-10-02 00:55] iamed18 commented on #87
This issue could be mitigated in another [possibly easier] way: make it possible to set the Y-range on a given plot with user input values. Perhaps in the Devices/Config menu?

[2016-10-03 05:13] roboguy222 opened #88 "dataChest implentation in measurement code is ineffecient"
The way the dataChest is implemented in the measurement code needs to be modified. The data saving is inefficient, thousands of calls are made to the method `addData()` that can handle all of the data at once. The overhead in that alone would speed things up by quite a bit if I had to guess. The code is also creating multiple hdf5 datasets for a single scan, where as only one .txt and .mat file is

[2016-10-03 05:14] roboguy222 commented on #88
Fuck, this was sent from @amopremcak, i didnt see Chris had logged in.

[2016-10-03 06:54] patzinak commented on #88
Yes, it would be great to go over this together.

A couple points though.
1. The improvement of the efficiency here should have less priority than the grapher debugging/improvement. Yes, we are  loosing a couple seconds here and there but we are loosing more time in many other places. In particular, the measurement code is not structured efficiently, the servers could be optimized, and so on and s

[2016-10-14 07:12] patzinak commented on #22
Here is the relevant part of the log. Experienced the failed startup two times out of four or so attempts.

[code]

[2016-10-20 04:57] patzinak commented on #88
This has been addressed in [this commit](https://github.com/McDermott-Group/measurement/commit/8de5086e68a5a0065ea71d2f60960b4d1baf8889#diff-90cdce6da81e8665fa4d25c23f82ce47). There is only negligible difference in saving time between different formats now.

[2016-10-20 04:57] #88 closed, assigned to amopremcak

[2016-10-21 23:13] patzinak commented on #86
I have not tested this, but I think if I select_device for a given instrument type that is also being used for the ADR, it will change that address for the ADR as well since now my context says it should?

[2016-11-04 02:10] #87 closed, assigned to nmGit

[2016-11-04 02:13] nmGit commented on #79
Close #79. Not seen in a while.

[2016-11-04 02:13] #79 closed, assigned to nmGit

[2016-11-04 02:13] #75 closed, assigned to nmGit

[2016-11-11 22:00] roboguy222 opened #89 "boolean parameter type conversion incompatibility"
[code]

[2016-11-11 22:06] roboguy222 commented on #89
[code]

[2016-11-21 05:49] roboguy222 opened #90 "Current VNA server questions."
What is the point of the ReadRawGPIBDeviceWrapper class?

[2016-11-21 18:41] roboguy222 commented on #90
Also, these VNA servers have settings `get_trace()`, `get_s2p()`, and `get_s_parameters()`.  Do we need/want all of these?

[2016-11-21 21:48] amopremcak commented on #90
At most two but ideally just one, are there any non-trivial differences between the methods? That is, could you use one of these methods to rewrite the other two?

[2016-11-21 21:55] patzinak commented on #90
The wrapper just adds the ```read_raw()``` method to the ```gpib.py``` in LabRAD package instead of tweaking it as we are used to do. To my knowledge the GPIB server from the UCSB server repository hadn't got corresponding setting till very-very recently but I don't think we have updated ours.

[2016-11-21 22:00] roboguy222 commented on #90
Why do we use this only for one of the servers and not the others?

It also seems like it is calling itself.  Maybe I am just reading this wrong, but I am quite confused by the function.

[2016-11-21 22:13] patzinak commented on #90
Guilhem had arguments in support of all three methods. ```get_trace()``` is supposed to get a trace from the screen, while the other two to configure the device and get either all or a subset of the S-parameters. Some code duplication could be removed, however, it seems it is reasonable to preserve at least two out of three methods.

[2016-11-21 22:21] patzinak commented on #90
Are you talking about the wrapper or the settings? I'm incapable of using a
laptop now to easily browse the repo. If you are talking about the wrapper,
than this is because the other server does not need it, or it is used
mistakenly in the first one. If you are talking about the settings, the
oldest VNA does not allow full S-parameters scans: either reflection or
transmission.

Could you please sp

[2016-11-21 23:56] roboguy222 commented on #90
ok I am at least getting rid of the `get_s2p()` setting at least.  It just returns the same as the others, but in a weird format, as far as I'm concerned.

[2016-11-22 00:32] patzinak commented on #90
It might be faster if you need all the S-parameters, not sure.

On Nov 21, 2016 17:56, "Chris Wilen" notifications@github.com wrote:

[2016-11-22 00:34] roboguy222 commented on #90
I am tempted to do the following:
`measurement_setup()` with an argument that is a list of the Sxy's you want to use.
`get_trace()` then records this data and sends it back, in the order of the list in ^.
`display_format()` allows you to adjust what you see vs. what is sent back (log mag, Re/Im, etc).
Does this sound reasonable?

[2016-11-22 01:19] patzinak commented on #90
This seems better. Are you fixing the returned format to dB, deg or are you
going to allow selecting it? How are you going to pass the frequencies?
Have an extra method `get_frequencies()` or get them as the first colon
of the returned data? Think about these issues in context of other devices
like conventional oscilloscopes, sampling scopes and spectra analyzers. You
always have to set the freque

[2016-11-22 02:02] roboguy222 commented on #90
The user can select the returned format.  I am not passing frequencies for these, what do you mean?

[2016-11-22 02:56] patzinak commented on #90
I meant not passing but returning. If you use name `display_format` it
should only mean changing units on display. You should then implement
`data_format` or combine them in a single method.

On Nov 21, 2016 20:02, "Chris Wilen" notifications@github.com wrote:

[2016-11-22 04:58] roboguy222 commented on #90
It looks like it will be harder than I thought to just traces that are not visible (hard to return I,Q when viewing Mag/Phase).  Any ideas for how to deal with this?  Are we ok with having the only options either both mag/phase or both I/Q?

[2016-11-22 05:13] roboguy222 commented on #90
The `display_format` function as it exists now has nothing to do with units or frequencies?  It just means mag/phase or I/Q.

[2016-11-22 05:31] patzinak commented on #90
I suggest that we should lock the display and data units for now, have only one setting responsible for this. The next step would be to allow turning the display on and off while taking data. I remember that the manual recommends doing this to speed up the measurements.

[2016-11-22 05:35] roboguy222 commented on #90
Ok, and we prefer IQ?  We can try converting between them to whatever the user wants once the data comes out?

[2016-11-22 05:46] patzinak commented on #90
I think we prefer dB and deg. The reason why it is IQ now is because it was simply the mode that the things we set when I was debugging the server last time and I didn't really cared what is on the screen but many people later told me that they wan to see S-parameters in logarithmic scale, i.e. in dB.

[2016-11-22 05:52] patzinak commented on #90
The question of mag/phase vs IQ is somewhat related to units (dB/deg vs unitless quantities) however one can plot the magnitude in linear scale and not use any units. I don't think we often use such options.

[2016-11-22 18:59] roboguy222 commented on #90
Any idea how much turning the display off speeds up the measurements?  This should be relatively easy to do I think.

[2016-11-22 21:53] patzinak commented on #90
No, I never tested this.

On Nov 22, 2016 12:59 PM, "Chris Wilen" notifications@github.com wrote:

[2016-11-23 05:06] roboguy222 commented on #90
I am trying to get the VNA to return data in a binary string instead of ascii (which is allowed in the manual by the VNA), but getting the following error.  Any idea how to get around this?  It seems weird that they would support this feature if GPIB doesn't.

[code]

[2016-11-23 05:42] roboguy222 commented on #90
I see what you mean by trouble with units, Ivan.  Do you know how to return an arbitrary number of arrays of varying units (dB, deg)?  I can't figure out what unit string to give as the return type.  I can do something like '(*v[dB],*v[deg],*v[dB],*v[deg],...)' but the number of arrays needs to be specified...

[2016-11-23 06:02] patzinak commented on #90
Replying to the last question, you can try ```*(*v[dB], *v[deg])``` but this has to be tested.

[2016-11-23 06:10] roboguy222 commented on #90
I can try that, but that means they need to be in an array of pairs, instead of just a list.  This makes it difficult to record traces set up by a user.  A single trace, for example.

[2016-11-23 06:23] patzinak commented on #90
As for the ```UnicodeDecodeError```, looks like the VNA sends 2-byte unicode string that the GPIB server or the GPIB LabRAD module is trying to convert to 1-byte string.  You have to use a codec that converts 2-byte  character into two separated bytes when it is actually read by the GPIB-handling code and then convert these bytes back into the unicode characters when the string is handled to the s

[2016-11-23 06:26] patzinak commented on #90
Maybe you can try to use UTF-8 like it is described [here](https://docs.python.org/2/howto/unicode.html).

[2016-11-23 06:47] roboguy222 commented on #90
Yeah but I think the error comes out of pyvisa, which I don't have control over :(.

[2016-11-23 07:26] patzinak commented on #90
Why do you think so? You should check whether you see the error if you directly communicate with the VNA bypassing the LabRAD infrastructure.

[2016-11-23 08:02] roboguy222 commented on #90
The new VNA server is more or less ready to go now.  I have not yet tested the really old VNA, and only done preliminary tests on the N5230A, but maybe you can look at the format of how to use it now.  I still can't figure out how to enter a return type string, so for now the returned data is unitless.

TLDR: there is probably more we want to change, but a first draft is done if you want to start

[2016-11-23 10:06] patzinak commented on #39
```addParameter``` does not currently support any kind of unit handling, i.e. neither ```addParameter('Frequency', 5*GHz)``` nor ```addParameter('Frequency', 5, 'GHz')``` works.

[2016-11-24 21:58] roboguy222 commented on #39
Do you need this functionality soon? I like the second style you proposed, that way units are kept as an optional parameter.

[2016-11-25 04:18] patzinak commented on #39
It doesn't really matter to me. I've implemented a workaround, as a temporary solution. This is not the single issue about saving the data into the hdf5 that has to be addressed.. What I mean is the following, by now you should be able to use MATLAB plotting scripts to plot 1D and 2D datasets using hdf5 files saved with the ``` Experiment``` class, however, these scripts won't likely work if you u

[2016-11-25 04:18] patzinak commented on #39
Did not mean to close it.

[2016-11-25 06:39] amopremcak commented on #39
We can write a matlab method to getData from hdf5 files and convert them into whatever format your plotting scripts require. The files are saved in way that is pretty easy to unpack. Basically each variable is its own (sub) dataset within the hdf5 file. The variables are broken up into two categories, independent and dependent which each form there own group (or folder if you will). Parameters for

[2016-11-25 07:38] patzinak commented on #39
Yes, we have to discuss the nuances. There is already some code that works with the hdf5 data saved by the ```Experiment``` class. It won't likely work if you try to open an arbitrary hdf5 file.

[2016-12-08 23:27] roboguy222 commented on #89
In general, the datachest does not accept numpy types, which maybe it should?  Or if it does not, it should not return them.

[2016-12-12 18:51] roboguy222 opened #91 "Slow file dialogue in Qt"
The file dialogue in Qt takes around 10 seconds to open for some reason.  A good example of this is pressing the select file button in the probe station code.  I think it only happens on Windows.  This is low priority to fix, but would be good to get taken care of for the sake of future code.

[2016-12-12 19:56] roboguy222 opened #92 "[Datachest] Opening a dataset throws Warning instead of Exception"
This seems like it definitely should be an Exception, so we can catch it if we try to open a non-existing dataset.

[2016-12-19 17:31] bgchristensen opened #93 "Slow file search in saving"
@patzinak @roboguy222 @amopremcak

Once a folder has, say, >500 files, the process to start saving a file takes a significant amount of time (>20s in some cases).  The actually saving process and everything else is still fast.

My best guess is in _save_data in the Experiment class, that a search is done over all files to determine the next file name to be used.  I didn't test which part exactly w

[2016-12-19 17:59] roboguy222 commented on #93
Switching to the new datachest should help this I think.  Let's talk seriously about this in the next few days.

[2016-12-20 11:12] #93 closed, assigned to nobody

[2016-12-20 11:22] patzinak commented on #93
@bgchristensen It should be better now. If you are going to save a few thousands files in one folder and and then add a few thousands files later to the same folder, it would take some time to create the first file but after that it would work fast. See the pictures below. The first one is saving 500 files with the old code and the second picture is adding 500 more files to the same folder. The im

[2016-12-21 03:24] patzinak commented on #90
@roboguy222

A couple things to be improved:

Documentation for the ```get_trace()``` setting is confusing: "LOGMAG", "PHASE", "REIM" seem have nothing to do with "IQ" and "MP".

Data for a single trace return as a 2D array. If several traces are taken, would it be a 3D array?

Units should be attached to the values when "MP" format is being used.

Specifications for ```triggerType``` are not give

[2016-12-25 04:54] patzinak commented on #76
Have this been fixed or is the issue expected to appear again? @nmGit I have modified the way some numbers are displayed in the GUI as well as the calibration for PT1000s. You probably shoudn't do anything here. Please focus on the plotting and proper saving of the data into the dataChest when you work on this again.

[2016-12-25 06:10] nmGit commented on #76
I have not yet determined the cause of the error, unless the hot and cold water get switched again it will be difficult to troubleshoot. That being said, the out of range error will be triggered either way and people will be alerted if the temperature goes out of range regardless.

[2016-12-27 09:58] patzinak opened #94 "No need for setting `TemperaturesForGUI` in cryomech_cp2800_compressor.py"
@nmGit There is no need for this setting. The servers should know absolutely nothing about the existence of any GUI. If you really have to keep it, please rename it to `Current Temperatures` and remove the unnecessary print statement, whitespace and add a line to separate from the next method.

[2016-12-27 10:02] patzinak opened #95 "`Stop Compressor` button does not work"
There were no error messages printed anywhere. However, I was able easily to turn off the compressor by directly communicating with the compressor server. To troubleshoot this you can create a dummy setting and try to make sure that you really call it properly.

[2016-12-27 10:04] patzinak commented on #76
You can test this by applying the heat to the thermometer, squeezing it between your fingers, and submerging it into a cap with iced water.

[2016-12-27 10:22] patzinak commented on #82
@nmGit I think we should go over some of your code again. You have to keep developing some taste to good practices :)

[2016-12-27 11:24] nmGit commented on #95
I did not give it the correct labrad setting to call when it is clicked. Right now the "status" setting is triggered when either 'stop compressor' or 'start compressor' is clicked This can be easily changed in the leiden.py file

edit: see lines 129 and 132 on leiden.py

[2016-12-28 00:59] amopremcak commented on #92
I changed this to a ```ValueError``` as its description:

Raised when a built-in operation or function receives an argument that has the right type but an inappropriate value, and the situation is not described by a more precise exception such as ```IndexError```.

seems more appropriate than a warning. Unfortunately the ```FileNotFoundError``` is not recognized by python 2.7 (existed in earlier v

[2016-12-28 00:59] #92 closed, assigned to amopremcak

[2016-12-28 01:37] amopremcak commented on #35
This is now implemented. Both forward and backward slashes are accepted, though using both styles in the same string is prohibited. The functionality is implemented as you suggested above. The document needs to be updated to reflect these changes but I am closing this as a document related issue already exists.

[2016-12-28 01:37] #35 closed, assigned to amopremcak

[2016-12-28 01:47] amopremcak commented on #40
This issue is related to a lack of documentation for the dateStamp class. The method ```dateStamp.dateStamp``` now excepts an optional argument named ```utcDateISO``` as opposed to just ```dateISO``` which was the original source of confusion. This method was never intended to handle strings with a timezone offset.

[2016-12-28 01:47] #40 closed, assigned to amopremcak

[2016-12-28 13:16] #84 closed, assigned to nmGit, iamed18, amopremcak

[2016-12-28 13:27] patzinak commented on #90
All this has been mostly fixed.

[2016-12-28 13:27] #90 closed, assigned to patzinak

[2016-12-30 05:30] amopremcak commented on #89
The dataChest now accepts all python/numpy datatypes described in updated document. The types are preserved so that the type you input to ```addParameter``` is the type returned by ```getParameter```. In addition I have allowed for ```tuple``` and ```dict``` type entries but with some reluctance as these will be a pain in the ass to display on the grapher when I get around to it.

[2016-12-30 05:30] #89 closed, assigned to amopremcak

[2016-12-30 06:06] amopremcak commented on #28
dateStamps are now explained in the document, though briefly, in the ```createDataset``` section which is a natural place describe them because that is where they first appear. The dataChest.util file isn't being used for anything right now so I plan to remove it. We should talk about special parameters at some point when you are back @roboguy222.

[2016-12-30 09:21] patzinak commented on #94
@roboguy222 Do you use this setting anywhere in your ADR code? If not, I'll go ahead and rename it to 'Current Temperatures'.

[2016-12-30 10:55] patzinak opened #96 "Create new log datasets manually"
Instead of automatic creation of the datasets every week/10 days it would be great to allow user manually start the new log files. The new set of files should be distinguished by the cooldown name that the user should provide  (and a date_time string should be appended to the name automatically).

[2016-12-31 17:28] nmGit commented on #96
This should be no problem. Will do.

[2017-01-05 20:43] nmGit commented on #96
@patzinak @amopremcak
I finished adding the ability to save/rename datasets. There were a few things; however, that I left out.

1. Due to the way the datachest works, you cannot save datasets outside of the DATA_CHEST_ROOT directory. I do not know if this is something Alex can/wants to change about dataChest. A way to get around this limitation would be to define DATA_CHEST_ROOT at a very high le

[2017-01-05 20:48] nmGit commented on #94
That is fine, you will need to change the setting names in LeidenGui.py:

 Compressor = Device("Compressor")
        Compressor.connection(cxn)
        Compressor.setServerName("cp2800_compressor")
        Compressor.addButton("Turn Off",
                "You are about to turn the compressor off.",
                "stop", None)
        Compressor.addButton("Turn On",
                "You are about

[2017-01-05 20:49] nmGit commented on #94
All that that setting does is format the readings in a way that MView is happy with.

[2017-01-05 20:52] nmGit commented on #91
Try using QtGui.QFileDialog.getSaveFileName in line 132 of MDataSetConfigGui. It opens immediately, but takes a few seconds to return once closed which is much less noticable.

[2017-01-05 20:54] nmGit commented on #86
I ran into this with the MKS PDR2000's a while ago, is it the same problem? I fixed it with deferred locking:
[code]

[2017-01-05 20:57] nmGit commented on #96
Oh, and also to disable data logging by default you can add the 'log = False' keyword argument to the MDevice.addParameter() method. e.g.

[code]

[2017-01-05 23:14] patzinak commented on #94
Yes, I understand this. I'm totally fine to keep the setting but it should be renamed to "Only Current Temperatures" to reflect its actual difference from the other setting. Again, the existence of GUIs should not have any influence on the design of the servers.

[2017-01-05 23:25] patzinak commented on #96
1. Not sure that I totally understand the problem but it was precisely the Alex's idea to make it hard to store data beyond DATA_CHEST_ROOT. If the computer is connected to the network, it should be pointed to the smb folder that contains the data.

2. Starting with the name is better for sure. I have also a very slight preference to a human readable date_time format but I'm okay with what we curr

[2017-01-06 02:23] amopremcak commented on #96
Why are you trying to save anything outside of the directory in which all data collected in this lab should be stored @nmGit?. Where would this location be and why does it differ from where everything else would be stored? Are you trying to toggle between local and smb?

The dateStamp that is appended to the front of all dataset names is really there for uniqueness. Since people often acquire data

[2017-01-06 04:36] nmGit commented on #96
@amopremcak I was thinking that people might want to save data like on a usb drive or something. Also that if I allow people to save data wherever they want, then what is the point if they are limited to only folders in DATA_CHEST_ROOT?

One of the problems I see with using locations relative to DATA_CHEST_ROOT is that if there are two different data collection operations running on the same syste

[2017-01-06 05:15] amopremcak commented on #96
I appreciate the feedback @nmGit. I can make a change so that a user can supply their own root directory. I will implement it in such a way that if a user supplies their own root path, it will ignore the environment variable entirely.

As for the dateStamp, I'd like to talk with @patzinak and @roboguy222 about there thoughts on the matter. I don't really have a preference. The dateStamp is actuall

[2017-01-07 07:45] patzinak opened #97 "OK button does not work in the GUI DataChest Config window"
This is probably work in the progress but want to post it here so that it is not forgotten. Also, the dialog interface seems unnecessary heavy. I can't imagine a situation when you want to log the readings in totally different places. You simply shouldn't do. The things could be simplified in the following way: everything is stored under the DATACHEST_ROOT_FOLDER, the user provide a subfolder (cou

[2017-01-07 07:55] patzinak commented on #82
@nmGit Please let me know when you have a break from working on the GUI project. I'd like to finish cleaning up your files at some point but don't want to create an unnecessary merge conflicts. The Leiden GUI works pretty well now (ignoring the known issues) and it became a really-really useful tool for assessing the state of the fridge remotely/in real time. It already looks great, however, you s

[2017-01-07 08:48] nmGit commented on #97
ok, thanks for the feedback. i might teamview in and take a look at it running with multiple devices (all I have been testing it with is a very simple random number generator)

[2017-01-07 08:50] nmGit commented on #97
also about the ok button not working, sometimes it takes several seconds after exiting the file dialog for the gui to become active again. Does it work if you give it a few seconds before trying to clock it?

[2017-01-07 08:52] nmGit commented on #82
Ok, ya that makes sense. I will spend some time over the next few days going through everything and then when i get back we can sit down and go through it some more

[2017-01-07 10:00] patzinak commented on #82
Waiting for ~10-15 sec does not help...

[2017-01-07 18:06] nmGit commented on #97
Ok, I teamviewed in and fixed it

[2017-01-07 18:06] nmGit commented on #97
#close

[2017-01-07 18:08] #97 closed, assigned to nmGit

[2017-01-07 23:28] nmGit commented on #97
Ok so what I did was add a tab called 'basic' that just allows you to do easily edit data logging stuff and then and 'advanced' tab if the user wants it. I implemented these changes on the LeidenGui just now.

[2017-01-08 02:41] patzinak commented on #97
Yes, this looks good to me. I haven't tested it (want to keep the current log for longer time) but this should do the job.

[2017-01-08 02:48] patzinak opened #98 "Restore the plot/device setting upon the reopening the GUI"
This could be done by saving all relevant parameters (the update rates, curve selection choices, time spans, etc.) into a file within a local temporary folder, in the LabRAD registry or even in the dataChest as the corresponding parameters. If the file/parameters are not found, the default values are applied and the file with the parameters is created.

[2017-01-09 19:35] roboguy222 commented on #94
I do not use this feature anywhere, no.

[2017-01-09 22:42] #94 closed, assigned to nmGit

[2017-01-09 23:05] patzinak opened #99 "LeidenGUI got broken by one of the last commits"
@nmGit , when you make changes please log in to the Leiden desktop computer and make sure that the program run smoothly there, try not to push the changes to the main branch unless you have some confidence they work.

[2017-01-09 23:26] nmGit commented on #99
Ok, I will take a look

[2017-01-10 00:50] nmGit commented on #99
It works now, sorry about that.

Close

[2017-01-10 00:50] #99 closed, assigned to nmGit

[2017-01-10 00:58] patzinak commented on #99
Thank you so much!

[2017-01-10 01:18] nmGit commented on #99
I think I somehow accidentally deleted the notifier settings. Sorry Ivan, but I don't know the exact values you had. I think that you will need to re-enter them. Sorry about that

[2017-01-10 01:24] patzinak commented on #99
Not a big deal.

[2017-01-13 19:15] roboguy222 opened #100 "[datachest] cannot access a file being written to"
I tried to use grapher to look at a data file I was writing to, but it crashed the program writing to it.  If we want to be able to look at data live as it comes in, this won't work!

[code]

[2017-01-14 01:29] patzinak commented on #95
The compressor still could not be controlled from the GUI. Please check the buttons functionality.

[2017-01-21 05:55] amopremcak opened #101 "New VNA Server Issues"
The new VNA server is unable to set the averaging state of the instrument to on. Also, it cannot handle when the user CTRL-C's out to abort. It just keeps running as if everything is fine. I think this may be related to the infinite timeout.

[2017-01-21 05:56] amopremcak commented on #101
@roboguy222 @patzinak

[2017-01-21 18:25] #101 closed, assigned to nobody

[2017-01-23 17:48] amopremcak opened #102 "Change all logging data types to float16"
I think we should change all logging data, e.g. Temperatures, Pressures, and Flow Rates, into float16 @roboguy222 & @nmGit . It will save disk space, a precious and non-renewable resource, and improve transfer speeds for datasets that span multiple weeks. We should also cut down the sampling rates of these variables as they do not change very rapidly. I don't know how to mark this as an enhancemen

[2017-01-24 19:25] roboguy222 commented on #102
Ok, the ADR controller is now in 16 bit.

[2017-01-24 19:57] amopremcak commented on #100
[1/24/2017 13:56:40] Temperature recording failed: Unable to flush file's cached information (File write failed: time = tue jan 24 13:56:40 2017 , filename = 'z:/mcdermott-group/data/adr logs/adr3/bcx2205yje_temperatures.hdf5', file descriptor = 3, errno = 22, error message = 'invalid argument', buf = 07576a70, total write size = 8192, bytes this sub-write = 8192, bytes actually written = 18446744

[2017-01-24 20:08] nmGit commented on #100
Can you open the file in your grapher as read only? This *might* work.

[2017-01-24 20:31] amopremcak commented on #100
Yea, thats a good point @nmGit. Initially all files were opened read only by default, unless the dataset was newly created or you set modify = True. A few months ago, I modified the dataChest to include some file forensics, that is Date Created, Date Modified, Date Accessed, and that required me to open all files with write priveleges. In the case of a single controller, this is all fine, but when

[2017-02-03 05:02] patzinak commented on #77
Quickly checked the new GUI - looks really great. I assume you will eventually replace the underscores with the whitespaces. Also, it would be great if you remove the trailing decimal zeros in the time stamps on the horizontal axis. We will never need such precision and I doubt that there is any actual physical meaning in these zeros.

[2017-02-03 17:40] nmGit commented on #77
Done. Because datachest does not allow spaces, the workaround is to use underscores in place of spaces and then change those underscores back into spaces when displaying the legend.
close

[2017-02-03 17:40] #77 closed, assigned to nmGit

[2017-02-08 02:09] patzinak opened #103 "Usability enhancements"
Thanks for removing all those funny zeros!

Could you please make the time local, remove underscores in the plot selection menu, and fix the units in the pressure plot on the y axis (the units should be ```mbar``` not ```mmbar```?

[2017-02-11 22:19] #103 closed, assigned to nmGit

[2017-02-11 22:39] #98 closed, assigned to nmGit

[2017-02-12 00:12] patzinak commented on #103
Thanks a lot!

[2017-02-14 06:42] patzinak commented on #95
Checked again, still does not work.

[2017-03-01 19:01] #47 closed, assigned to roboguy222

[2017-03-07 18:29] iamed18 opened #104 "[ADR Controller] Backfill available data when opening"
In both the Python desktop application and the web browser version of the ADR controller, closing and re-opening the application/webpage will result in the T vs. t plot completely renewing. It would be useful in many instances for the backfilled data to survive a refresh/restart event on the displayed plot.

[2017-03-07 18:48] iamed18 opened #105 "[ADR Controller Web] Plot starts at 1970, times incorrect"
Plot X-axis starts at Jan 1970 on every page refresh. Also the times associated with each point are not in UTC or CST or anything in which we all live.

[2017-03-09 17:41] #105 closed, assigned to roboguy222

[2017-03-09 17:48] roboguy222 commented on #104
One idea being floated right now is that we have a "Start Cooldown" and "Stop Cooldown" button to create a new log file.  I am worried that most people, when they are finally done with their measurement, will press stop compressor, and forget about the fridge.  It is often the next person using the fridge who even takes their sample out.  This leads me to think maybe we should just have a "Start N

[2017-03-09 17:51] roboguy222 commented on #22
I don't think this error has occurred in a while, and is a mute point if we are going to a web-based controller, so I'm going to close this.

[2017-03-09 17:51] #22 closed, assigned to roboguy222

[2017-03-09 20:16] iamed18 commented on #104
Perhaps a better way to do the cooldown linking would be to have a generated cooldown ID vis a vis what @amopremcak has in mind for doing hashed IDs for the database that we'll some day work on. When you open up the ADR monitor program, it will ask if you want to use an old ID or generate a new one. If you click "old," it will look through the most recent IDs and let you pick the correct one. If y

[2017-03-09 20:59] roboguy222 commented on #83
As far as I know this problem has not reoccurred, so I am closing this issue.

[2017-03-09 20:59] #83 closed, assigned to roboguy222

[2017-03-09 21:02] roboguy222 commented on #86
I think, since the adr server does not use any contexts passed down from other clients, it creates its own context, and this should not actually be a problem.  Closing issue.

[2017-03-09 21:02] #86 closed, assigned to roboguy222

[2017-03-14 01:54] roboguy222 commented on #81
I'll check this out, but the refresh devices button should work ok.

The larger problem that falls under this same title, is that every once in a while the FAA and GGG temperatures stop being monitored when we are running scans, and the temperatures just get stuck.  I found out today that this is due to the AC bridge returning a non-parsable temperature string.  Unfortunately, I think it keeps giv

[2017-03-21 09:52] patzinak opened #106 "Do not display an old reading value when the actual reading is NaN"
For example, when the ```mix_temperature``` setting returns ```Value(nan, 'mK')```, the Leiden DR GUI still shows 13.43 mK. This is not good since such behavior can potentially lead to a wrong conclusion/action. It is reasonable to assume that the displayed numbers are "real-time" values, not some "random" values from the past.

[2017-03-21 09:59] patzinak opened #107 "Duplicating servers"
There are two servers/files ```lakeshore370_simple.py``` and ```lakeshore370.py```. We should only keep one. Please delete the unnecessary one.

[2017-03-21 15:54] roboguy222 commented on #107
Hmm, not sure why I was tagged in this; I don't think I have ever used either of these.  Just from briefly looking at them though, I suppose I would prefer to use the `lakeshore370.py` one (not simple), since it looks like it has a lot more functionality, and was written by someone who understands labrad way better than any of us.

[2017-03-21 16:07] nmGit commented on #107
If I remember correctly, the lakeshore370 (not simple) server would not run because it was so dependent on outside resources being configured correctly, it would have been nearly impossible for me to get it working correctly. I wasn't sure if I should just delete the lakeshore370 server because it looked like someone had worked hard on it.

That is why the lakeshore370_simple server exists. It is

[2017-03-21 16:07] nmGit commented on #106
hmm, I will take a look at this.

[2017-03-21 16:09] nmGit commented on #95
Try checking this again. I think it works now.
4th time's the charm...

[2017-03-21 23:51] patzinak commented on #107
@roboguy222 I've tagged you simply because as far as I could guess you or Noah are the only people who may have used this server and may be quick to resolve the issue. Detagging you.

@nmGit Could you please delete the unnecessary file and remove the word `simple` from the name of the server file if that indeed the server you want to keep.

[2017-03-21 23:52] patzinak commented on #95
The buttons didn't work on Saturday. I'll test this again on a good occasion.

[2017-03-25 06:25] patzinak commented on #95
I checked this yesterday and it did not work. Nothing happens when you click the buttons, neither dialog windows pop up nor compressor does anything.  I assume the computer in the Leiden room was updated and it runs the proper (master) branch. Implement a button that does something benign and we can start from there.

[2017-03-25 06:28] patzinak commented on #96
What is the status here @nmGit Seems like you have implemented the original suggestion. If there is something you or Alex want to work on, could you please rename this issue or close it.

[2017-03-25 06:31] patzinak opened #108 "Please delete old, stale branches"
Let's make a rule that branches that haven't been modified for more than a year could be deleted without any notice.

[2017-03-30 00:56] patzinak commented on #82
@nmGit You can use ```autopep8``` and ```pep8``` to easily clean up your code. These are very easy to use modules. Install these modules with pip, run ```autopep8 --in-place --aggressive --aggresive your_file_name.py``` to clean up your code. Verify that you don't have any easily-resolvable issues by running ```pep8 your_file_name.py``` If you run this on all your files, you can close the issue.

[2017-03-30 00:57] patzinak opened #109 "Time buttons (at least "10 min" and "2 hours") do not work properly"

[2017-03-30 01:14] patzinak opened #110 "Pressures are shown incorrectly"
Looks like the GUI does not show pressures correctly. I suspect the shown numbers are the first three (or all are the first one) channel readings, not the forth-sixth readings that are return by the ```get_pressures``` setting of the MaxiGauge server.

[2017-03-30 03:13] nmGit commented on #60
This is possible with pyQtGraph in MView

[2017-03-30 03:13] nmGit commented on #110
I made a stupid mistake, fixed it... sorry about that.

[2017-03-30 03:13] #110 closed, assigned to nmGit

[2017-03-30 03:14] #106 closed, assigned to nmGit

[2017-03-30 03:14] #96 closed, assigned to nmGit, amopremcak

[2017-03-30 03:15] nmGit commented on #109
Interesting... would you mind taking a few screenshots if you can get it to happen again? I am having trouble replicating the issue.

[2017-03-30 05:25] patzinak commented on #60
@nmGit It would be great if, after fully finishing the Leiden GUI, you or someone else could implement and intensively test a stand-alone grapher with extended functionality using your MView. We can then remove the old grapher.

[2017-03-30 05:30] patzinak commented on #109
I don't see it happening now. If I don't see it happening again for some time and if there are no other major problems I'll close this issue. I realized that before reporting this issue I saw another problem: somehow the temperatures that are read by your magic box were not being updated. Restarting the GUI didn't help but restarting the computer solved the issue. So, it could be that the actual i

[2017-03-31 04:15] patzinak opened #111 "Important cosmetic improvements"
1. Dilution Unit Temperatures should be in the following order:
Still Temperature
Exchange Temperature
Mix Temperature

This used to be the case but somehow the order is changed now.

2. There should be four digits after the dot for the pressure readings in the Vacuum frame to allow the display of the typical lower values. Again, this is used to be the case.

3. It would be great if the compressor

[2017-03-31 18:58] nmGit commented on #109
when you restarted the gui, did you also restart the labrad servers? Specifically the serial server as well as the 'magic box' server?

[2017-03-31 21:29] patzinak commented on #109
Yes, I restarted everything.

[2017-04-03 22:16] nmGit commented on #95
Does it work now? I used a test setting on the compressor and it worked, I obviously haven't tested the on/off settings at all. The problem was that I was not passing the context to the labrad server.

[2017-04-03 22:53] patzinak commented on #95
I'll test this when we are warming, but likely in only in a few days.

On Mon, Apr 3, 2017 at 5:16 PM, nmGit <notifications@github.com> wrote:

--
Ivan Pechenezhskiy
Postdoctoral Research Associate
Dept. of Physics, Univ. of Wisconsin–Madison
Thomas Chamberlin Hall 5316
1150 University Ave, Madison, WI 53706
Office: 1 (608) 890-0821
http://www.physics.wisc.edu/~rfmcdermott/

[2017-04-06 22:02] patzinak opened #112 "Please move the file system path strings from the LabRAD servers into the LabRAD registry"
All log paths that are relevant for normal operation of any server should go to  ```registry\Servers\Server Name\Computer Name``` and should be define in a key that contains word 'Path'.

This solves two problems:
(1) If the SAMBA or ```area51``` are mounted to a different path on a particular computer, the workaround is obvious, you just change the relevant path in the ```Server Name\Computer Nam

[2017-04-06 22:34] patzinak commented on #112
Leiden DR Temperature Server has been fixed. @roboguy222 you can close this issue when you are done with the ADR server.

[2017-04-06 22:36] patzinak commented on #111
4. Make the plot tools symmetric with respect to the option available for the X and Y axes.

[2017-04-06 22:36] patzinak commented on #109
Haven't seen bug in a while. I'll reopen the issue if I notice this behavior again.

[2017-04-06 22:36] #109 closed, assigned to nmGit

[2017-04-06 22:40] patzinak commented on #108
The only stale branches left are related to the MView project. @nmGit please clean up the branches by the summer (delete the ones that you we'll never come back to).

[2017-04-07 21:29] #112 closed, assigned to roboguy222, nmGit, amopremcak

[2017-04-12 22:17] patzinak opened #113 "Notifier email message title does not match with the message body."
Title of the email I received:
```Compressor:Oil Temperature```

Message body of the same email:
```['04/12/17 at 13:05:06 | Water Flow->External Water Flow Rate: 0.93gal/min | Range: 1.2gal/min - 3.0gal/min.', '']```

[2017-04-14 15:38] roboguy222 opened #114 "[datachest] getParameter returns tuple with units that is indistinguishable from a tuple that was saved"

[2017-04-15 22:18] nmGit commented on #111
All done.

[2017-04-15 22:18] #111 closed, assigned to nmGit

[2017-04-15 22:43] nmGit commented on #113
I will have to go through the code more, but for now the issue is fixed.

[2017-04-15 22:43] #113 closed, assigned to nmGit

[2017-04-15 22:44] nmGit commented on #91
Is this still an issue?

[2017-04-16 18:16] #91 closed, assigned to nmGit

[2017-04-16 18:16] #67 closed, assigned to nmGit

[2017-04-16 18:47] nmGit commented on #102
Done with MView. Use the data_type keyword when creating a device to specify float16. Still defaults to float32 of the keyword is not used.

[2017-04-16 18:47] #102 closed, assigned to nmGit

[2017-04-16 18:48] nmGit commented on #95
I'll close this for now and we can reopen it if what I did doesn't work (unlikely this time).

[2017-04-16 18:48] #95 closed, assigned to nmGit

[2017-04-20 03:27] patzinak opened #115 "SIM928 voltage sources sometimes do not communicate properly"
I have seen a couple times that when two SIM928 voltage sources are used they can start working in a funny way. This seems to occur after an error is thrown by the SIM928 server reporting that the voltage could not be read. Sometimes it recovers properly but sometimes only one of the SIM928 sources is responsive to commands. If you start a new connection to the labrad (run a new experiment), the o

[2017-04-25 18:23] nmGit commented on #82
I autopep8'd all files. I did not do aggressive because it can mess with some subtle but important details such as 'a == b' vs 'a is b' which are similar but not the same.

[2017-04-25 18:23] #82 closed, assigned to nmGit

[2017-05-04 15:53] iamed18 opened #116 "[mView] Change config filenames to match parent GUI scriptname"
At present, only one mView GUI may be present in a given directory due to mView.config being a static filename provided from mView. An easy way to get around this would be to have each GUI script that invokes mView own a unique config file.

Example: the Leiden monitoring software is launched from an mView script titled `LeidenGui.py`. This could generate the relevant files needed and could contro

[2017-05-05 07:33] nmGit commented on #116
Done

[2017-05-05 07:33] #116 closed, assigned to nmGit

[2017-05-07 23:56] amopremcak commented on #114
I added a ```getParameterUnits(self, paramName)``` method which returns a units ```str``` if existent, otherwise ```None```.

[2017-05-07 23:56] #114 closed, assigned to amopremcak

[2017-05-08 21:32] roboguy222 opened #117 "[dataChest] file needs to be closed after each operation"
File IO does not work properly if two dataChest's have the same file open.  I think everything works fine if each closes the file after reading/writing, so we should do that.

[2017-05-09 16:28] amopremcak commented on #117
What issue is this causing?

[2017-05-09 16:41] roboguy222 commented on #117
If one file is trying to read a file that the other is writing to, `getData()` returns an old version of the data.  I am not sure more data is ever able to write properly to the chest, actually.

[2017-08-17 15:18] iamed18 opened #118 "[Leiden and Lakeshore211 GUIs] time axis an hour off in mView plots"
I've only looked at two different GUIs (the Leiden and the Lesker Cryo) but both of them have time axes that are off by an hour from the current time. I suspect this is a result of DST. This should be fixed to be accurate at all times to lead to less confusion.

Unsure if it's an mView thing or a programmed thing in the script, so tagging both @nmGit and @hannoeichel to check it out

[2018-04-20 18:28] czimonick opened #119 "[dataChest] overwrite = True parameter not required to overwrite Dataset parameters"
With the overwrite parameter unset or set to False, one can still overwrite extant parameters with dataChest.addParameter() without any sort of exception being thrown, and the old parameter is actually overwritten.

[2018-04-20 18:46] amopremcak commented on #119
I'll take a look at this soon.

[2018-04-23 22:40] amopremcak commented on #119
Fixed. Backwards compatibility ....

[2018-04-23 22:40] #119 closed, assigned to nobody

[2019-01-06 20:52] vincentliu66 opened #120 "Leiden MView GUI printing errors to terminal"
![pt1000](https://user-images.githubusercontent.com/29717066/50741426-986b3080-11c2-11e9-93a1-168ac91d10ee.png)
@nmGit @czimonick @amopremcak

[2019-01-06 20:54] vincentliu66 opened #121 "Leiden MView GUI printing errors to terminal"
@nmGit @czimonick @amopremcak
![serialdevice](https://user-images.githubusercontent.com/29717066/50741454-eed86f00-11c2-11e9-857b-72b67c7c9cd5.png)

[2019-01-06 20:58] vincentliu66 commented on #121
This happens when I unplugged the usb cable of the 50k 3k Al box on the bottom of the control panel.

[2019-01-07 05:10] nmGit commented on #121
Workin on it. For future bugs, please submit them to https://github.com/nmGit/MView/issues

[2019-01-07 05:11] nmGit commented on #121
If it is not too much trouble, you should be able to restart mview, or disable logging and this error will go away. This will be fixed in the next release

[2019-09-30 00:12] roboguy222 opened #122 "Fix Adaptive Spec Code"
# todo:
    # (0) write docstrings so that someone can read this if I get hit by a car.
    # (2) save parameters from experiment code as a dictionary
    # (3) improve fitter to determine when higher order terms are needed
    # (6) handle dreaded labrad units
    # (7) Fix find_biases_from_target_frequencies()
    # (8) Eliminate AdaptiveSpectroscopyData() class as it is more or less mimicking d